# Entornos virtuales
venv/
.venv/

# Node
node_modules/
dist/

# Variables de entorno
.env
*.env

# Python
__pycache__/
*.pyc

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Base de datos local
*.db
